img{
    background-color:Gray;
    float:right;
    /* clear:left; */
}
main{
    background:lightgrey;
    padding:2em;
}
#search{
    width:100%;
}
.booktext{

}
.allBookinfo{
    /* width:100%; */
    background:white;
    height: 300px;
    padding: 2em;
    margin: 2em;
}